{
	"name": "{{projectName}}",
	"version": "1.0.0",
	"description": "{{projectDescription}}",
	"directories": {
		"doc": "docs"
	},
	"scripts": {
		"start": "npm run generate:slides",
		"generate:slides": "speaker-cli generate --slides",
		"watch:slides": "speaker-cli generate --slides --watch"
	},
	"author": "{{projectAuthorsTwitter}}",
	"license": "MIT",
	"devDependencies": {
		"speaker-cli": "^1.0.0"
	},
	"dependencies": {}
}
