<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{projectName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700" rel="stylesheet" />

    <meta name="description" content="{{projectDescription}}" />

    <meta property="og:url" content="{{url}}" />
    <meta property="og:title" content="{{projectName}}" />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="" />

    <link rel="icon" href="/img/logo.png" type="image/png">
    <script defer src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="main">
        <div class="main-wrapper">
            <h1>{{projectName}}</h1>
            <img src="img/logo.png" alt="logo" class="logo">
            <h4>
                {{projectDescription}}
                <br><br>
                {{#authors}}
                     <a href="https://twitter.com/{{.}}" target="_blank">{{.}}</a> <i
                    class="fab fa-twitter"></i> 
                {{/authors}}
            </h4>

            <div class="buttons-wrapper">
                <a class="btn btn-secondary d-inline-block" href="slides">
                    <i class="fas fa-desktop"></i> <span>Slides</span>
                </a>
                <a class="btn btn-primary d-inline-block" target="_blank" href="https://vue-todo-3f0b8.firebaseapp.com">
                    <i class="fas fa-columns"></i> <span>Demo</span>
                </a>
                <a class="btn btn-secondary d-inline-block" target="_blank"
                    href="https://github.com/T3kstiil3/vue-hack-in-the-wood-2019">
                    <i class="fab fa-github"></i> <span>Github</span>
                </a>
                <a class="btn btn-primary d-inline-block" href="https://github.com/T3kstiil3/vue-hack-in-the-wood-2019/tree/master/demo">
                    <i class="fas fa-code"></i> <span>Code</span>
                </a>
            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>

</html>